<section class="benefits">
  <div class="container">
    <h2 class="title">Преимущества</h2>
    <ul class="benefits__list list-reset">
      <li class="benefits__item">
        <span class="benefits__digit benefits__digit--first">482</span>
        <span class="benefits__descr">
          Организаций поддержки по Российской Федерации
        </span>
      </li>

      <li class="benefits__item">
        <span class="benefits__digit benefits__digit--second">5240</span>
        <span class="benefits__descr">
          Оказано услуг государственной поддержки
        </span>
      </li>

      <li class="benefits__item">
        <span class="benefits__digit benefits__digit--third">1360</span>
        <span class="benefits__descr">Зарегестрировано участников проекта</span>
      </li>
    </ul>
  </div>
</section>
