<footer class="footer">
  <div class="container footer__container">
    <ul class="footer__list list-reset">
      <li class="footer__item">
        <a class="footer__link" href="#">Услуги и поддержка</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Сервисы для бизнеса</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Общая информация</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Защита бизнеса</a>
      </li>
    </ul>

    <address>
      <ul class="footer__list list-reset">
        <li class="footer__item">
          <a class="footer__link footer__mail" href="mailto:service@in-line.ru"
            >service@in-line.ru</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link footer__phone" href="tel:+88002007430">
            8-800-200-74-30</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
