<header class="header">
  <div class="container">
    <nav class="header__body" data-menu>
      <button class="header__button btn btn--red" type="button">
        Личный кабинет
      </button>
      <button class="header__link header__katalog btn" type="button">
        Каталог услуг
      </button>
      <button class="header__link btn header__link--accent" type="button">
        Онлайн помощник
      </button>
      <button
        class="burger btn-reset"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
      <button class="btn-reset burger-close" aria-label="Закрыть меню"></button>
    </nav>
  </div>
</header>
