<div class="story">
  <div class="container">
    <h2 class="title story__bottom">Истории успеха</h2>
    <ul class="story__list list-reset">
      <li class="story__item">
        <img
          loading="lazy"
          src="img/story-1.png"
          class="image story__image"
          width="326"
          height="305"
          alt="Фото повара"
        />
        <div class="story__content">
          <h3 class="story__title">Пекарня &laquo;Русские традиции&raquo;</h3>
          <div class="story__descr-height story__descr-height--red">
            <p>
              Как говорит сам Владимир: «мне хотелось, чтобы все узнали, что
              такое русская кухня», «обьяснить, что она жива».
            </p>
          </div>
          <div class="story__descr">
            <p>
              Чтобы мини-пекарня стала рентабельным бизнесом, необходимы строгие
              расчеты, учет рисков и перспектив, анализ рынка, налаживание
              сбыта.
            </p>
          </div>
          <a class="story__btn btn btn--blue" href="#">Читать историю</a>
        </div>
      </li>

      <li class="story__item">
        <img
          loading="lazy"
          src="img/story-2.png"
          class="image story__image story__image--reset"
          width="323"
          height="347"
          alt="фото мастера автосервиса"
        />
        <div class="story__content">
          <h3 class="story__title">Автомастерская</h3>
          <div class="story__descr-height story__descr-height--red">
            <p>
              Первые дни независимости. Когда не&nbsp;нужно рано вставать, когда
              не&nbsp;нужно отпрашиваться, что&nbsp;бы успеть съездить
              в&nbsp;магазин, когда удобно.
            </p>
          </div>
          <div class="story__descr">
            <p>
              Встреча в&nbsp;городе&nbsp;Н с&nbsp;моими будущими партнерами была
              плодотворной. Я&nbsp;не&nbsp;смог заснуть до&nbsp;пяти
              утра&nbsp;&mdash; не&nbsp;потому что не&nbsp;спалось,
              но&nbsp;потому что мысли о&nbsp;будущих перспективах просто
              взрывали мой мозг.
            </p>
          </div>
          <a class="story__btn btn btn--blue" href="#">Читать историю</a>
        </div>
      </li>

      <li class="story__item">
        <img
          loading="lazy"
          src="img/story-3.png"
          class="story__image"
          width="359"
          height="337"
          alt="Фото администратора салона красоты"
        />
        <div class="story__content">
          <h3 class="story__title">Салон красоты &laquo;Эмират&raquo;</h3>
          <div class="story__descr-height story__descr-height--red">
            <p>
              Когда&nbsp;же появилась возможность открыть свой бизнес,
              я&nbsp;рассматривала различные варианты, изучала всевозможные
              направления.
            </p>
          </div>
          <a class="story__btn btn btn--blue" href="#">Читать историю</a>
        </div>
      </li>
    </ul>
  </div>
</div>
